
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" 
			connectionString="Data Source=localhost;
			Initial Catalog=Recycle_store;
			Integrated Security=true;
			Trusted_Connection=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
